streamlit>=1.35.0
openai
requests
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-text-splitters==0.2.4
langchain-groq>=0.1.9
fastapi
uvicorn
sse-starlette
bs4
pypdf>=4.0.0
python-docx>=1.1.0
textblob
tqdm
pydantic>=2.0.0
